
<%-include("partials/header")-%>

<h2>Home</h2>
<p><%= StartingContent %> </p>


<% posts.forEach(function(post){ %>
  <h2><%= post.Title %></h2>
  <p><%=post.Description.substring(0,100)+"..." %>
  <a href="/posts/<%= post.Title %>">Read more</a></p>
<% }) %>
<%-include("partials/footer")-%>